.blog-card {
  border: 1px solid #b48e40;
  width: 100%;
  display: flex;
  color: #fff;

  &__photo-container {
    .card-photo {
      &__img {
        width: 100%;
        height: auto;
      }
    }
  }

  &__text-container {
    margin-left: 1%;
    .card-info {
      &__date {
        font-size: 0.9vw;
        margin-top: 1%;
        font-family: "Arima Madurai", serif;
      }

      &__title {
        margin-top: 1%;
        font-size: 1.2vw;
        font-weight: bold;
        font-family: "Arima Madurai", serif;
      }
      &__description {
        font-size: 1vw;
        margin-top: 1%;
        font-family: "Arima", serif;
        text-align: justify;
        margin-right: 1%;
      }
    }
  }
}

.blog-card:hover {
  opacity: 50%;
}
